<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            
            <button mat-button
                    (click)="sidenav.toggle()"
            >
                <mat-icon>menu</mat-icon>
                <span>Menu</span>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a 
                routerLink="/heroes/listado" 
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>

            <a 
                routerLink="/heroes//agregar" 
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon>add</mat-icon>
                <span>Agregar a Héroe</span>
            </a>

            <a 
                routerLink="/heroes/buscar" 
                mat-list-item
                (click)="sidenav.toggle()"
            >
                <mat-icon>search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button
                (click)="null"
        >
            <mat-icon>logout</mat-icon> Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>